<td class="" colspan="4" rowspan="1">
    <div class="bonita_form_entry">
        <div class="bonita_form_vertical_panel">
            <div>
                <div class="bonita_form_label bonita_form_label_left">
                    Ar esate PVM mokėtojas? <span class="bonita_form_mandatory">*</span></div>
                <div class="bonita_form_field bonita_form_field_right ">
                    <div class="group-widgets">
                        <span class="bonita_form_radio">
                            <div class="custom-radio">
                                <input tabindex="0" id="gwt-uid-43" value="Taip" name="type" type="radio">
                                <label class="" for="gwt-uid-43">Taip</label>
                            </div>
                        </span>
                        <span class="bonita_form_radio">
                            <div class="custom-radio">
                                <input tabindex="0" id="gwt-uid-44" value="Ne" name="type" type="radio">
                                <label class="" for="gwt-uid-44">Ne</label>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</td>
      