<div id="addressForm" style="display: none; text-align: left;">

    <table class="bonita_form_group_children">
        <colgroup>
            <col/>
        </colgroup>
        <tbody>

        <tr>
            <td class="" colspan="4" rowspan="1">
                <div class="bonita_form_entry">
                    <div class="bonita_form_vertical_panel">
                        <div>
                            <div class="bonita_form_label bonita_form_label_left">
                                tipas <span class="bonita_form_mandatory">*</span></div>
                            <div class="bonita_form_field bonita_form_field_right ">
                                <div class="group-widgets">
                        <span class="bonita_form_radio">
                            <div class="custom-radio custom-address">
                                <input tabindex="0" id="gwt-uid-43" value="LT" name="type" type="radio">
                                <label for="gwt-uid-43">Adresas Lietuvoje</label>
                            </div>
                        </span>
                        <span class="bonita_form_radio">
                            <div class="custom-radio custom-address">
                                <input tabindex="0" id="gwt-uid-44" value="no_LT" name="type" type="radio">
                                <label for="gwt-uid-44">Adresas užsienyje</label>
                            </div>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="bonita_form_group_children LT">
        <colgroup>
            <col/>
        </colgroup>
        <tbody>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Apskritis<span class="bonita_form_mandatory"> *</span>
                    </div>
                    <input id="district" class="bonita_form_field bonita_form_field_right"
                           style="width: 40% !important;" type="text"/>
                    <button id="districtButton" class="bonita_form_button suggestBox-button" tabindex="-1">»</button>
                    <span style='color: red; display: none;' id="districtError">Privalomas</span>
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Savivladybė<span
                            class="bonita_form_mandatory"> *</span></div>
                    <input id="municipality" class="bonita_form_field bonita_form_field_right"
                           style="width: 40% !important;" type="text"/>
                    <button id="municipalityButton" class="bonita_form_button suggestBox-button" tabindex="-1">»
                    </button>
                    <span style='color: red; display: none;' id="municipalityError">Privalomas</span>
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Seniūnija</div>
                    <input id="eldership" class="bonita_form_field bonita_form_field_right"
                           style="width: 40% !important;" type="text"/>
                    <button id="eldershipButton" class="bonita_form_button suggestBox-button" tabindex="-1">»</button>
                    <span style='color: red; display: none;' id="eldership">Privalomas</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Gyvenvietė<span class="bonita_form_mandatory"> *</span>
                    </div>
                    <input id="settlement" class="bonita_form_field bonita_form_field_right"
                           style="width: 40% !important;" type="text"/>
                    <button id="settlementButton" class="bonita_form_button suggestBox-button" tabindex="-1">»</button>
                    <span style='color: red; display: none;' id="settlementError">Privalomas</span>
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Gatvė</div>
                    <input id="street" class="bonita_form_field bonita_form_field_right" style="width: 40% !important;"
                           type="text"/>
                    <button id="streetButton" class="bonita_form_button suggestBox-button" tabindex="-1">»</button>
                    <span style='color: red; display: none;' id="streetError">Privalomas</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Namas<span class="bonita_form_mandatory"/>
                    </div>
                    <input id="house" class="bonita_form_field bonita_form_field_right" style="width: 40% !important;"
                           type="text"/>
                    <span style='color: red; display: none;' id="houseError">Privalomas</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Butas<span class="bonita_form_mandatory"/>
                    </div>
                    <input id="flat" class="bonita_form_field bonita_form_field_right" style="width: 40% !important;"
                           type="text"/>
                    <span style='color: red; display: none;' id="flatError">Privalomas</span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>


    <table class="bonita_form_group_children no_LT">
        <colgroup>
            <col/>
        </colgroup>
        <tbody>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Adresas užsienyje<span class="bonita_form_mandatory"> *</span>
                    </div>
                    <input id="address_no_LT" class="bonita_form_field bonita_form_field_right"
                           style="width: 40% !important;" type="text"/>
                    <span style='color: red; display: none;' id="address_no_LTError">Privalomas</span>
                </div>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div style="clear: both;"></div>
    <div>
        <button id="add" class="bonita_form_button" style="margin-left: 33%;">Pridėti</button>
    </div>
</div>
