<div class="address_form" style="display: none; text-align: left; font-size: 0.8em !important">

    <table class="bonita_form_group_children">
        <colgroup>
            <col/>
        </colgroup>
        <tbody>

        <tr>
            <td class="" colspan="4" rowspan="1">
                <div class="bonita_form_entry">
                    <div class="bonita_form_vertical_panel">
                        <div>
                            <div class="bonita_form_field bonita_form_field_right ">
                                <div class="group-widgets">
                        <span class="bonita_form_radio">
                            <div class="custom-radio custom-address">
                                <input tabindex="0" id="gwt-uid-43" value="LT" name="type" type="radio">
                                <label for="gwt-uid-43">Adresas Lietuvoje</label>
                            </div>
                        </span>
                        <span class="bonita_form_radio">
                            <div class="custom-radio custom-address">
                                <input tabindex="0" id="gwt-uid-44" value="no_LT" name="type" type="radio">
                                <label for="gwt-uid-44">Adresas užsienyje</label>
                            </div>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="bonita_form_group_children LT" style="display: none">
        <colgroup>
            <col/>
        </colgroup>
        <tbody>

        <tr>
            <td>
                <div>
                    <div class="bonita_form_label bonita_form_label_left">Apskritis<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
                </div>
                <input class="bonita_form_field bonita_form_field_right create_address_field_district"
                       style="width: 40% !important;" type="text"/>
                <button class="bonita_form_button suggestBox-button district_button" tabindex="-1">»</button>
                <span style='color: red; display: none;' class="districtError">Privalomas</span>
</div>
</td>
<td></td>
</tr>

<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Savivladybė<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input id="municipality" class="bonita_form_field bonita_form_field_right create_address_field_municipality"
                   style="width: 40% !important;" type="text"/>
            <button class="bonita_form_button suggestBox-button municipality_button" tabindex="-1">»
            </button>
            <span style='color: red; display: none;' class="municipalityError">Privalomas</span>
        </div>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Seniūnija<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input class="bonita_form_field bonita_form_field_right create_address_field_eldership"
                   style="width: 40% !important;" type="text"/>
            <button class="bonita_form_button suggestBox-button eldership_button" tabindex="-1">»</button>
            <span style='color: red; display: none;' class="eldershipError">Privalomas</span>
        </div>
    </td>
</tr>

<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Gyvenvietė<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input class="bonita_form_field bonita_form_field_right create_address_field_settlement"
                   style="width: 40% !important;" type="text"/>
            <button class="bonita_form_button suggestBox-button settlement_button" tabindex="-1">»</button>
            <span style='color: red; display: none;' class="settlementError">Privalomas</span>
        </div>
    </td>
</tr>


<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Gatvė<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input class="bonita_form_field bonita_form_field_right create_address_field_street" style="width: 40% !important;"
                   type="text"/>
            <button class="bonita_form_button suggestBox-button street_button" tabindex="-1">»</button>
            <span style='color: red; display: none;' class="streetError">Privalomas</span>
        </div>
    </td>
</tr>

<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Namas<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input id="house" class="bonita_form_field bonita_form_field_right create_address_field_house" style="width: 40% !important;"
                   type="text"/>
            <span style='color: red; display: none;' class="houseError">Privalomas</span>
        </div>
    </td>
</tr>

<tr>
    <td>
        <div>
            <div class="bonita_form_label bonita_form_label_left">Butas<span class="bonita_form_mandatory custom-required" style="display: none"> *</span></div>
            <input id="flat" class="bonita_form_field bonita_form_field_right create_address_field_flat" style="width: 40% !important;"
                   type="text"/>
            <span style='color: red; display: none;' class="flatError">Privalomas</span>
        </div>
    </td>
</tr>

</tbody>
</table>


<table class="bonita_form_group_children no_LT" style="display: none;">
    <colgroup>
        <col/>
    </colgroup>
    <tbody>

    <tr>
        <td>
            <div>
                <div class="bonita_form_label bonita_form_label_left">Adresas užsienyje<span class="bonita_form_mandatory custom-required"> *</span></div>
                <input id="address_no_LT" class="bonita_form_field bonita_form_field_right create_address_field_abroad_address"
                       style="width: 40% !important;" type="text"/>
                <span style='color: red; display: none;' id="address_no_LTError">Privalomas</span>
            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>

<div style="clear: both;"></div>
<div>
    <button class="bonita_form_button add" style="margin-left: 33%; display: none;">Pridėti</button>
</div>
<div>
    <button class="bonita_form_button add_no_LT" style="margin-left: 33%; display: none;">Pridėti</button>
</div>
</div>
